{% extends "public.layout.html.twig" %}

{% block stylesheets %}
    <!-- Custom CSS -->
    <link href="{{ asset('public/css/heroic-features.css') }}" rel="stylesheet">
{%  endblock %}

{% block titleContent %}
    <h1>Page produit de : </h1>
{% endblock %}

{% block body %}

        {# SIDEBAR #}
        <div class="col-md-3">
            {% block nav %}
                {% include 'Public/Partials-public/sidebar.html.twig' %}
            {% endblock nav %}
        </div>

        <div class="col-md-9">
            {# Tableau récap de commande #}
            <h1>Contenue de mon panier</h1>
            <table class="table table-striped">
                <tr>
                    <th>Image</th>
                    <th>Libellé</th>
                    <th>Tarif</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>

                {% if app.session.get('cart') | length > 0 %}
                    {% for key,value in  app.session.get('cart')['id'] %}
                    <tr>
                        <td> <img src="{{ asset('upload/' ~ app.session.get('cart')['image'][key] )}}" width="50px"></td>
                        <td>{{ app.session.get('cart')['title'][key] }}</td>
                        <td>{{ app.session.get('cart')['price'][key] }}€</td>
                        <td>

                            <form action=
                                  "{{ path("cart_edit_qte",{ 'id' : app.session.get('cart')['id'][key] }
                                  ) }}">
                                <input type="number" name="qte" value="{{ app.session.get('cart')['qte'][key] }}" min="1" max="10">
                                <input type="submit" class="btn btn-primary" value="modifier">
                            </form>

                        </td>
                        <td>{{ (app.session.get('cart')['price'][key])*app.session.get('cart')['qte'][key] }}€</td>
                        <td><a href="{{ path("cart_supp", {'id' : app.session.get('cart')['id'][key]} ) }}" class="btn btn-danger">supprimer</a></td>
                    </tr>
                {% endfor %}
                <tr  class="info ">
                    <td colspan="6" > Total de votre panier : {{ app.session.get('total_panier') }}€</td>
                </tr>
            </table>
            <a href="#" class="btn btn-warning">Payer !</a>
        {%  else %}
            <tr  class="info right">
                <td colspan="5"> panier vide</td></tr>
            </table>
            {% endif %}

            </table>
        </div>


{% endblock body %}
