{% extends "layout.html.twig" %}

{% block titleContent %}
    <h1>Toutes les catégories</h1>
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock stylesheet %}

{# Permet d'afficher le moteur de recherche + nombre d'entrée #}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script>
        $(function () {
            $("#example1").DataTable();
        });
    </script>
{% endblock javascript %}

{%  block content %}

    {# Affichage du message de success	#}
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">{#Permet de mettre le message en vert, au niveau de la class#}
            {{ flash_message }}
        </div>
    {% endfor %}

    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Il y a <strong>{{ categories|length }}</strong> catégories</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Position</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.title|default('Produit sans nom') }}</td>
                        <td>{{ category.description|raw|nl2br|slice(0, 50) }} - {{ category.description|length }} caractères</td>
                        <td>{{ category.position }} </td>
                        <td><a href="{{ path("show_category", { id:category.id }) }}" class="btn btn-success">Voir</a></td>
                        <td><a href="{{ path("edit", { id:category.id }) }}" class="btn btn-primary">Modifier</a></td>
                        <td><a href="{{ path("category_remove", { id:category.id }) }}" class="btn btn-danger">Supprimer</a></td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>ID</th>
                    <th>TITRE</th>
                    <th>Description</th>
                    <th>Position</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
{%  endblock %}