{% extends 'layout.html.twig' %}

{% block titleContent %}
    <h1>Créer une catégorie</h1>
{% endblock %}

{% block content %}
    {# Affichage du message de success	#}
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">{#Permet de mettre le message en vert, au niveau de la class#}
            {{ flash_message }}
        </div>
    {% endfor %}
    {{ form_errors(formCategory) }}

    {{ form_start(formCategory) }}

    {{ form_row(formCategory) }}

    <button>Ajouter</button>

    {{ form_end(formCategory) }}

{% endblock content %}