{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Contact {{ firstname }} {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
                <h2><a href="{{ path('homepage') }}">Lien vers la page d'accueil</a></h2>
            </div>
        </div>
    </div>

    <table class="table table-str-striped">
        <tr>
            <th>IP</th>
            <th>Date</th>
        </tr>
    {% for line in fileCSV %}
        {%  set data = line| split(';') %}
        <tr>
            <td>{{ data[0] }}</td>
            <td>{{ data[1] }}</td>
        </tr>
    {% endfor %}
    </table>



{% endblock body %}