{% extends 'layout.html.twig' %}

{% block titleContent %}
    <h1>Créer un produit</h1>
{% endblock %}

{% block content %}
    {# Affichage du message de success	#}
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">{#Permet de mettre le message en vert, au niveau de la class#}
            {{ flash_message }}
        </div>
    {% endfor %}

    {{ form_start(formProduct,  {
        attr: {'novalidate':'novalidate'}
    })
    }}

    <div class="form-group">
        {{ form_label(formProduct.marque,
        "Marque"
        ) }}
        {{ form_widget(formProduct.marque,
        {
            attr: {
            class: "form-control"
        }
        }
        )
        }}
    </div>
    <div class="form-group">
        {{ form_label(formProduct.marque,
        "Categories"
        ) }}
        {{ form_widget(formProduct.categories,
        {
            attr: {
            class: "form-control"
        }
        }
        )
        }}
    </div>

    <div class="form-group">
        {{  form_errors(formProduct.titleFR) }}

        {{  form_label(formProduct.titleFR, "Titre") }}

        ) }}
        {{ form_widget(formProduct.titleFR, { attr: {
            placeholder: 'titre',
            class: "form-control"
        }
        })}}
    </div>
    <div class="form-group">
        {{  form_errors(formProduct.titleEN) }}

        {{  form_label(formProduct.titleEN, "Title") }}

        ) }}
        {{ form_widget(formProduct.titleEN, { attr: {
            placeholder: 'title',
            class: "form-control"
        }
        })}}
    </div>

    <input id="adminbundle_product_image" name="adminbundle_product[image]" required="required" type="file">




    <button>Ajouter</button>

    {{ form_end(formProduct) }}


{% endblock content %}