{% extends "layout.html.twig" %}

{% block titleContent %}
    <h1>Page produit de : {{ product.title }} </h1>
{% endblock %}

{% block content %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Description du produit : {{ product.title }} </h3>
        </div>
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Intitulé</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>ID</td>
                    <td>{{ product.id }}</td>
                </tr>
                <tr>
                    <td>Titre</td>
                    <td>{{ product.title|default('Produit sans nom') }}</td>
                </tr>

                <tr>
                    <td>Description</td>
                    <td>{{ product.description }}</td>
                </tr>
                <tr>
                    <td>Prix</td>
                    <td>{{ product.price }}</td>
                </tr>
                </tbody>
                <tfoot>
                </tfoot>

            </table>

            <a href="{{ path("show_product", { id:product.id }) }}" class="btn btn-primary">Modifier</a>
            <a href="#" class="btn btn-danger">Supprimer</a>
        </div>
    </div>
{% endblock %}