{% extends "layout.html.twig" %}

{% block titleContent %}
    <h1>Page produit de : {{ product.title }} </h1>
{% endblock %}

{% block content %}
    {# Affichage du message de success	#}
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">{#Permet de mettre le message en vert, au niveau de la class#}
            {{ flash_message }}
        </div>
    {% endfor %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Description du produit : {{ product.title }} </h3>
        </div>
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Intitulé</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>ID</td>
                    <td>{{ product.id }}</td>
                </tr>
                <tr>
                    <td>Titre</td>
                    <td>{{ product.title|default('Produit sans nom') }}</td>
                </tr>
                <tr>
                    <td>Marque</td>
                    <td>{{ product.marque.title }}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ product.description }}</td>
                </tr>
                <tr>
                    <td>Prix</td>
                    <td>{{ product.price }} €</td>
                </tr>
                <tr>
                    <td>Image</td>
                    <td><img src="{{ asset('upload/' ~ product.image) }}"></td>
                </tr>
                <tr>
                    <td>Date de création</td>
                    <td>{{ product.dateCreation|date("m/d/Y H:i:s") }}</td>
                </tr>
                <tr>
                    <td>Date de modification</td>
                    <td>{% if product.dateEdit|date("m/d/Y H:i:s") == product.dateCreation|date("m/d/Y H:i:s") %}
                            Produit créé<br>
                        {% else %}{{ product.dateEdit|date("m/d/Y H:i:s") }}
                        {% endif %}
                    </td>

                </tr>
                <tr>
                    <td>Catégorie</td>
                    <td>{% if product.categories|length > 0 %}
                            {% for category in product.categories %}
                                {{ category.title }}<br>
                            {% endfor %}
                            {% else %}Pas de catégorie
                        {% endif %}
                    </td>
                </tr>
                </tbody>
                <tfoot>
                </tfoot>

            </table>

            <a href="{{ path("edit", { id:product.id }) }}" class="btn btn-primary">Modifier</a>
            <a href="{{ path("product_remove", { id:product.id }) }}" class="btn btn-danger">Supprimer</a>
        </div>
    </div>
{% endblock %}