{% extends "public.layout.html.twig" %}

{% block stylesheets %}
    <!-- Custom CSS -->
    <link href="{{ asset('public/css/heroic-features.css') }}" rel="stylesheet">
{%  endblock %}

{% block titleContent %}
    <h1>Page produit de : </h1>
{% endblock %}

{% block body %}

    <div class="col-md-3">
        {% block nav %}
            <!-- SIDEBAR -->
            {% include 'Public/Partials-public/sidebar.html.twig' %}
        {% endblock nav %}
    </div>

    <div class="col-md-9">
        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>A Warm Welcome!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
            <p><a class="btn btn-primary btn-large">Call to action!</a>
            </p>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Latest Features</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">
            {% for product in products %}
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img style="width:auto; margin: auto; height: 120px;" src="{{ asset('upload/' ~ product.image) }}" alt="">
                    <div class="caption">
                        <h3>{{ product.title }}</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="{{ path("voir_produit", { id:product.id }) }}" class="btn btn-primary">Buy Now!</a>
                            <a href="{{ path("voir_produit", { id:product.id }) }}" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- /.row -->

        <ul class="pagination">
            {% for page in 1..pages %}
                <li class="page-item {% if page == pageActive %}active{% endif %}">
                    <a class="page-link"
                       href="{{ path('voir_categorie',{'id':category.id,'page':page}) }}">
                        {{ page }}
                        {% if page == pageActive %}
                            <span class="sr-only">(current)</span>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}
